{% extends "templates/partials/base.html" %}

{% set previousProject = prevItem(item, 'year', true) %}
{% set nextProject = nextItem(item, 'year', true) %}

{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block mainClass %}padded{% endblock %}

{% block content %}

  <section class="projects">
    <div class="project">

      <div class="project__info-group">
        <h5 class="project__info-name">Project details</h5>
        <dl class="project__info">
          <dt class="project__info-title">Type</dt>
          <dd class="project__info-value">{{ item.project_type.name }}</dd>
        </dl>
        {% if item.location %}
          <dl class="project__info">
            <dt class="project__info-title">Location</dt>
            <dd class="project__info-value">{{ item.location }}</dd>
          </dl>
        {% endif %}
        {% if item.size %}
          <dl class="project__info">
            <dt class="project__info-title">Size</dt>
            <dd class="project__info-value">{{ item.size }}</dd>
          </dl>
        {% endif %}
        {% if item.year %}
          <dl class="project__info">
            <dt class="project__info-title">Completion date</dt>
            <dd class="project__info-value">{{ item.year }}</dd>
          </dl>
        {% endif %}
        {% if item.client %}
          <dl class="project__info">
            <dt class="project__info-title">Client</dt>
            <dd class="project__info-value">{{ item.client.name }}</dd>
          </dl>
        {% endif %}
        </dl>
      </div>

      <div class="project__description-container">
        <h1 class="project__title">{{ item.name }}</h1>
        <div class="project__description">{{ item.description|safe }}</div>
      </div>

      <div class="project__gallery">
        <div class="packery__gutter"></div>
        <div class="packery__sizer"></div>
        {% for image in item.photographs %}
          <div class="project__image project__image--{{ image.size|lower }}">
            <img data-resize-src="{{ image.image.resize_url }}" src="{{ image.image|imageSize(1200) }}" alt="">
            {% if image.caption %}
              <figcaption class="project__image-caption">{{ image.caption }}</figcaption>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="project__more">
    {% if previousProject %}
      <span class="project__previous"><a href="{{ url(previousProject) }}">Previous project</a></span>
    {% endif %}
    {% if nextProject %}
      <span class="project__next"><a href="{{ url(nextProject) }}">Next project</a></span>
    {% endif %}
    </div>
  </section>

{% endblock %}
