<header class="nav">
  <div class="nav__container">
    <div class="nav__item-container">
      <div class="nav__logo">{% include "templates/partials/icons/logo__simplified.html" %}</div>
    </div>
    <div class="nav__item-container">
      <h5 class="nav__header"><a href="/">Home</a></h5>
    </div>
    <div class="nav__item-container">
      <h5 class="nav__header"><a href="/about">About</a></h5>
      <ul class="nav__list">
        <li class="nav__item"><a href="/about#overview">Overview</a></li>
        <li class="nav__item"><a href="/about#team">Team</a></li>
        <li class="nav__item"><a href="/about#awards">Awards</a></li>
      </ul>
    </div>
    <div class="nav__item-container">
      <h5 class="nav__header"><a href="/work">Work</a></h5>
    </div>
    <div class="nav__item-container">
      <h5 class="nav__header"><a href="/contact">Contact</a></h5>
      <ul class="nav__list">
        <li class="nav__item"><a href="/contact#locations">Locations</a></li>
        <li class="nav__item"><a href="/contact/jobs">Jobs</a></li>
      </ul>
    </div>
  </div>
</header>
