@charset "UTF-8";
@font-face {
  font-family: 'Modern Pictograms Pro';
  font-weight: 100;
  src: url("../fonts/modernpics_2_268e-webfont.woff2") format("woff2"), url("../fonts/modernpics_2_268e-webfont.woff") format("woff"), url("../fonts/modernpics_2_268e-webfont.eot") format("eot");
}
/* --------------------------------------------------------

Remove the unit of a length
@param {Number} $number - Number to remove unit from
@return {Number} - Unitless number

-------------------------------------------------------- */
/* --------------------------------------------------------

Variable Map Lists for the text-size mixin

-------------------------------------------------------- */
/* --------------------------------------------------------
Mixin for font-size and line-height definition
  Usage Example: @include text-size($large);

If the mixin is called and values are not entered, it will default to regular font-size
-------------------------------------------------------- */
/* Layout */
body {
  margin: 0;
  text-rendering: optimizeLegibility;
}

main {
  display: block;
}

/* Text */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

dl,
dd,
ol,
ul,
p,
address,
blockquote,
figure,
figcaption,
pre {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

pre {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 0.75em;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content */
img {
  border: 0;
}

/* Forms */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  bottom: 0;
  color: inherit;
  font-size: inherit;
  -webkit-appearance: none;
}

input,
textarea {
  font-family: inherit;
}

textarea {
  resize: vertical;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-appearance: textfield;
}

/* Tables */
table {
  border-collapse: collapse;
}

th,
td {
  padding: 0;
}

th {
  vertical-align: bottom;
}

td {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "PT Serif", serif;
  color: #505050;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1px) {
  body {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 513px) {
  body {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 769px) {
  body {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1025px) {
  body {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1441px) {
  body {
    font-size: 22px;
    line-height: calc(30 / 22);
  }
}

footer {
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
}

section {
  padding: 2rem;
}

a {
  display: inline;
}
p a {
  display: inline;
}

strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

cite:before {
  content: "— ";
}

div,
img {
  width: 100%;
}

iframe {
  width: 100%;
}

.nav {
  padding: 0 1rem;
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.nav__logo {
  line-height: 0;
  margin-right: 2rem;
}
.nav__logo svg {
  padding: 1rem 0;
  max-width: 100%;
  width: auto;
  height: 2rem;
}
.nav__logo .logo__mark {
  fill: #505050;
}
.nav__logo .logo__text {
  fill: #505050;
}

.nav__header {
  margin: 0 2rem;
  transition: color 0.2s ease;
}
@media screen and (min-width: 1px) {
  .nav__header {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 513px) {
  .nav__header {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 769px) {
  .nav__header {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1025px) {
  .nav__header {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1441px) {
  .nav__header {
    font-size: 22px;
    line-height: calc(30 / 22);
  }
}
.nav__header:hover {
  color: white;
}

.page__header {
  position: fixed;
  top: 0;
  transition: all 0.2s ease;
  -ms-transform: translate(-100%);
      transform: translate(-100%);
  background-color: #b7f622;
  z-index: 5000;
}
.page__header.active {
  -ms-transform: translate(0%);
      transform: translate(0%);
}

.page__main {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  overflow: auto;
}
.page__main.padded section:first-child {
  padding-top: 6rem;
}

.page__hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  padding: 0;
  z-index: 2000;
}
.page__hero .page__logo {
  position: absolute;
  left: 0;
  top: 50%;
  width: 50%;
  height: auto;
  z-index: 200;
  margin-left: 2rem;
}
.page__hero .page__logo svg {
  width: 50%;
  height: auto;
}
.page__hero .page__logo path {
  fill: white;
}

.page__hero-title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
  color: #b7f622;
  font-size: 7rem;
  line-height: 0.8;
  letter-spacing: 0.03em;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}

.page__title {
  font-family: "PT Sans", sans-serif;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1px) {
  .page__title {
    font-size: 24px;
    line-height: calc(30 / 24);
  }
}
@media screen and (min-width: 513px) {
  .page__title {
    font-size: 28px;
    line-height: calc(36 / 28);
  }
}
@media screen and (min-width: 769px) {
  .page__title {
    font-size: 28px;
    line-height: calc(36 / 28);
  }
}
@media screen and (min-width: 1025px) {
  .page__title {
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}
@media screen and (min-width: 1441px) {
  .page__title {
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}

.page__description {
  background-color: #b7f622;
}
@media screen and (min-width: 1px) {
  .page__description {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 513px) {
  .page__description {
    font-size: 24px;
    line-height: calc(30 / 24);
  }
}
@media screen and (min-width: 769px) {
  .page__description {
    font-size: 24px;
    line-height: calc(30 / 24);
  }
}
@media screen and (min-width: 1025px) {
  .page__description {
    font-size: 28px;
    line-height: calc(36 / 28);
  }
}
@media screen and (min-width: 1441px) {
  .page__description {
    font-size: 28px;
    line-height: calc(36 / 28);
  }
}
.page__description p, .page__description ol {
  max-width: 35em;
  margin: auto;
  margin-bottom: 1rem;
}

.section__name {
  font-family: "PT Serif", serif;
  font-weight: normal;
  margin-bottom: 1rem;
  font-style: italic;
  color: #b7f622;
}
@media screen and (min-width: 1px) {
  .section__name {
    font-size: 28px;
    line-height: calc(36 / 28);
  }
}
@media screen and (min-width: 513px) {
  .section__name {
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}
@media screen and (min-width: 769px) {
  .section__name {
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}
@media screen and (min-width: 1025px) {
  .section__name {
    font-size: 48px;
    line-height: calc(54 / 48);
  }
}
@media screen and (min-width: 1441px) {
  .section__name {
    font-size: 48px;
    line-height: calc(54 / 48);
  }
}

.home__description {
  font-family: "PT Sans", sans-serif;
  width: 40%;
  padding: 2rem;
  margin-top: -20vh;
  background-color: white;
  z-index: 3000;
  position: relative;
  margin-left: 10rem;
}
.home__description p {
  margin-bottom: 0.5rem;
}
.home__description p:last-child {
  margin-bottom: 0;
}

.people {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.people__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.people__item {
  -ms-flex-preferred-size: calc(100% / 6);
      flex-basis: calc(100% / 6);
  margin-bottom: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
}
@media screen and (min-width: 1px) {
  .people__item {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 513px) {
  .people__item {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 769px) {
  .people__item {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1025px) {
  .people__item {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1441px) {
  .people__item {
    font-size: 22px;
    line-height: calc(30 / 22);
  }
}

.people__name {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.people__designations {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
}

.people__info {
  font-family: "PT Serif", serif;
  font-style: italic;
}
.people__info a {
  border-bottom: 1px solid #b7f622;
}

.awards {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.awards__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.awards__item {
  -ms-flex-preferred-size: calc(100% / 4);
      flex-basis: calc(100% / 4);
  margin-bottom: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
}

.awards__name {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.awards__year {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
}

.awards__notes {
  font-family: "PT Serif", serif;
}

.awards__project {
  font-family: "PT Serif", serif;
  font-style: italic;
}
.awards__project a {
  border-bottom: 1px solid #b7f622;
}

.projects {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
}

.featured-projects__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
}

.featured-projects__item {
  -ms-flex-preferred-size: calc((100% / 3) - 1rem);
      flex-basis: calc((100% / 3) - 1rem);
  width: calc((100% / 3) - 1rem);
  margin-bottom: 1rem;
  display: block;
  line-height: 0;
}
.featured-projects__item.hide {
  display: none;
}
.featured-projects__item a {
  display: block;
  line-height: 0;
}
.featured-projects__item:hover .projects__thumbnail-image {
  filter: grayscale(0) opacity(1);
}

.projects__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
}

.projects__item {
  -ms-flex-preferred-size: calc((100% / 3) - 1rem);
      flex-basis: calc((100% / 3) - 1rem);
  width: calc((100% / 3) - 1rem);
  margin-bottom: 1rem;
  display: block;
  line-height: 0;
}
.projects__item.hide {
  display: none;
}
.projects__item a {
  display: block;
  line-height: 0;
}

.packery__gutter {
  width: 1rem;
}

.projects__thumbnail-title {
  font-family: "PT Sans", sans-serif;
  color: #ff8260;
  display: inline-block;
}
@media screen and (min-width: 1px) {
  .projects__thumbnail-title {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 513px) {
  .projects__thumbnail-title {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 769px) {
  .projects__thumbnail-title {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1025px) {
  .projects__thumbnail-title {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1441px) {
  .projects__thumbnail-title {
    font-size: 22px;
    line-height: calc(30 / 22);
  }
}

.projects__type-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.projects__type {
  font-family: "PT Serif", serif;
  font-style: normal;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #ff8260;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.projects__type:hover {
  color: #505050;
}
.projects__type.active {
  color: #505050;
  font-style: italic;
}

.project {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-family: "PT Sans", sans-serif;
}
@media screen and (min-width: 1px) {
  .project__title {
    font-size: 24px;
    line-height: calc(30 / 24);
  }
}
@media screen and (min-width: 513px) {
  .project__title {
    font-size: 28px;
    line-height: calc(36 / 28);
  }
}
@media screen and (min-width: 769px) {
  .project__title {
    font-size: 28px;
    line-height: calc(36 / 28);
  }
}
@media screen and (min-width: 1025px) {
  .project__title {
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}
@media screen and (min-width: 1441px) {
  .project__title {
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}

.project__info-group {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.project__category {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.project__info {
  font-family: "PT Sans", sans-serif;
}

.project__info-item {
  font-family: "PT Mono", monospace;
}

.project__description {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  max-width: 35em;
  margin-right: 2rem;
}

.project__image {
  width: 50%;
  padding: 0.5rem;
  box-sizing: border-box;
}
@media screen and (min-width: 513px) {
  .project__image {
    width: 50%;
  }
}
@media screen and (min-width: 769px) {
  .project__image {
    width: calc(100% / 3);
  }
}
@media screen and (min-width: 1025px) {
  .project__image {
    width: 25%;
  }
}
@media screen and (min-width: 1441px) {
  .project__image {
    width: calc(100% / 6);
  }
}
.project__image.show {
  opacity: 1;
}
.project__image img {
  margin: 0;
  width: 100%;
  line-height: 0;
}

.project__image--sizer {
  width: 50%;
}
@media screen and (min-width: 513px) {
  .project__image--sizer {
    width: 50%;
  }
}
@media screen and (min-width: 769px) {
  .project__image--sizer {
    width: calc(100% / 3);
  }
}
@media screen and (min-width: 1025px) {
  .project__image--sizer {
    width: 25%;
  }
}
@media screen and (min-width: 1441px) {
  .project__image--sizer {
    width: calc(100% / 6);
  }
}

.project__image--medium {
  width: 50%;
}
@media screen and (min-width: 513px) {
  .project__image--medium {
    width: 50%;
  }
}
@media screen and (min-width: 769px) {
  .project__image--medium {
    width: calc(100% / 3 * 2);
  }
}
@media screen and (min-width: 1025px) {
  .project__image--medium {
    width: 50%;
  }
}
@media screen and (min-width: 1441px) {
  .project__image--medium {
    width: calc(100% / 3);
  }
}

.project__image--large {
  width: 100%;
}
@media screen and (min-width: 513px) {
  .project__image--large {
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  .project__image--large {
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .project__image--large {
    width: 75%;
  }
}
@media screen and (min-width: 1441px) {
  .project__image--large {
    width: calc(100% / 3 * 2);
  }
}

.media__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.media__item {
  -ms-flex-preferred-size: calc((100% / 3) - 0.5rem);
      flex-basis: calc((100% / 3) - 0.5rem);
  margin-bottom: 1rem;
}

.article__thumbnail-name {
  font-family: "PT Sans", sans-serif;
}
@media screen and (min-width: 1px) {
  .article__thumbnail-name {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 513px) {
  .article__thumbnail-name {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 769px) {
  .article__thumbnail-name {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1025px) {
  .article__thumbnail-name {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1441px) {
  .article__thumbnail-name {
    font-size: 22px;
    line-height: calc(30 / 22);
  }
}

.article__thumbnail-date {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
}
@media screen and (min-width: 1px) {
  .article__thumbnail-date {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 513px) {
  .article__thumbnail-date {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 769px) {
  .article__thumbnail-date {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1025px) {
  .article__thumbnail-date {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1441px) {
  .article__thumbnail-date {
    font-size: 22px;
    line-height: calc(30 / 22);
  }
}

/*# sourceMappingURL=site.css.map */