@charset "UTF-8";
@font-face {
  font-family: 'Modern Pictograms Pro';
  font-weight: 100;
  src: url("../fonts/modernpics_2_268e-webfont.woff2") format("woff2"), url("../fonts/modernpics_2_268e-webfont.woff") format("woff"), url("../fonts/modernpics_2_268e-webfont.eot") format("eot");
}
@font-face {
  font-family: 'Canela';
  font-weight: 400;
  src: url("../fonts/Canela-Regular-Web.woff2") format("woff2"), url("../fonts/Canela-Regular-Web.woff") format("woff"), url("../fonts/Canela-Regular-Web.eot") format("eot");
}
@font-face {
  font-family: 'Canela';
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Canela-RegularItalic-Web.woff2") format("woff2"), url("../fonts/Canela-RegularItalic-Web.woff") format("woff"), url("../fonts/Canela-RegularItalic-Web.eot") format("eot");
}
@font-face {
  font-family: 'Canela';
  font-weight: 700;
  src: url("../fonts/Canela-Bold-Web.woff2") format("woff2"), url("../fonts/Canela-Bold-Web.woff") format("woff"), url("../fonts/Canela-Bold-Web.eot") format("eot");
}
/* --------------------------------------------------------

Remove the unit of a length
@param {Number} $number - Number to remove unit from
@return {Number} - Unitless number

-------------------------------------------------------- */
/* --------------------------------------------------------

Variable Map Lists for the text-size mixin

-------------------------------------------------------- */
/* --------------------------------------------------------
Mixin for font-size and line-height definition
  Usage Example: @include text-size($l);

If the mixin is called and values are not entered, it will default to regular font-size
-------------------------------------------------------- */
/* Layout */
body {
  margin: 0;
  text-rendering: optimizeLegibility;
}

main {
  display: block;
}

/* Text */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

dl,
dd,
ol,
ul,
p,
address,
blockquote,
figure,
figcaption,
pre {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

pre {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 0.75em;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content */
img {
  border: 0;
}

/* Forms */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  bottom: 0;
  color: inherit;
  font-size: inherit;
  -webkit-appearance: none;
}

input,
textarea {
  font-family: inherit;
}

textarea {
  resize: vertical;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-appearance: textfield;
}

/* Tables */
table {
  border-collapse: collapse;
}

th,
td {
  padding: 0;
}

th {
  vertical-align: bottom;
}

td {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Canela", serif;
  color: #1e1e1e;
  background-color: #f1f9ec;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1px) {
  body {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 513px) {
  body {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 769px) {
  body {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1025px) {
  body {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1441px) {
  body {
    font-size: 22px;
    line-height: calc(30 / 22);
  }
}

section {
  margin: 2rem;
}

a {
  display: inline;
}
p a {
  display: inline;
}

strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

cite:before {
  content: "— ";
}

div,
img {
  width: 100%;
}

iframe {
  width: 100%;
}

.logo__full path {
  fill: #01aa78;
}

.logo__simplified path {
  fill: #01aa78;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #01aa78;
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.nav__logo {
  line-height: 0;
  margin: 0 1rem 0 2rem;
  -ms-flex-preferred-size: 2rem;
      flex-basis: 2rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (min-width: 513px) {
  .nav__logo {
    margin: 0 2rem;
  }
}
.nav__logo svg {
  padding: 1rem 0;
  max-width: 100%;
  width: auto;
  height: 2rem;
}
.nav__logo path {
  fill: #f1f9ec;
  transition: fill 0.2s ease;
}
.nav__logo .logo__mark, .nav__logo .logo__text {
  fill: #f1f9ec;
  transition: fill 0.2s ease;
}
.nav__logo:hover .logo__mark, .nav__logo:hover .logo__text {
  fill: #01aa78;
}
.nav__logo:hover path {
  fill: #01aa78;
}

.nav__item-container {
  width: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.nav__item {
  margin: 0 2rem 0 1rem;
  transition: color 0.2s ease;
}
@media screen and (min-width: 1px) {
  .nav__item {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 513px) {
  .nav__item {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 769px) {
  .nav__item {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1025px) {
  .nav__item {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1441px) {
  .nav__item {
    font-size: 22px;
    line-height: calc(30 / 22);
  }
}
@media screen and (min-width: 513px) {
  .nav__item {
    margin: 0 2rem;
  }
}
.nav__item a {
  color: #f1f9ec;
  border-bottom: 2px solid transparent;
  transition: color 0.2s ease;
}
.nav__item a:hover {
  color: #01aa78;
}

.footer {
  margin-top: 3rem;
  padding: 3rem 2rem 2rem 3rem;
  border-top: 1px solid #01aa78;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
}

.footer__logo {
  -ms-flex-preferred-size: calc(25% - 3rem);
      flex-basis: calc(25% - 3rem);
  margin-right: 3rem;
}

.footer__contact {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: auto;
  max-width: 25%;
  margin-right: 3rem;
}

.footer__location {
  margin-bottom: 0.5rem;
}

.footer__contact-info {
  margin-bottom: 0.5rem;
}
.footer__contact-info a {
  color: #01aa78;
  transition: color 0.2s ease;
}
.footer__contact-info a:hover {
  color: #1e1e1e;
}

.footer__social {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: start;
      align-items: flex-start;
}

.footer__social-item {
  max-width: 2rem;
  margin-right: 0.5rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: inline-block;
}
.footer__social-item path, .footer__social-item circle {
  fill: #01aa78;
  transition: fill 0.2s ease;
}
.footer__social-item:hover path, .footer__social-item:hover circle {
  fill: #1e1e1e;
}

.page__main {
  box-sizing: border-box;
  width: 100%;
}
.page__main.padded section:first-child {
  padding-top: 3rem;
}
@media screen and (min-width: 513px) {
  .page__main.padded section:first-child {
    padding-top: 4rem;
  }
}
@media screen and (min-width: 769px) {
  .page__main.padded section:first-child {
    padding-top: 5rem;
  }
}
@media screen and (min-width: 1025px) {
  .page__main.padded section:first-child {
    padding-top: 6rem;
  }
}

.page__hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
}
.page__hero .page__logo {
  position: absolute;
  right: 0;
  top: 4rem;
  margin: 2rem;
  width: 20%;
  height: auto;
  z-index: 200;
}
.page__hero .page__logo svg {
  width: 100%;
  height: auto;
}
.page__hero .page__logo path {
  fill: #01aa78;
}

.page__hero-title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
  color: #01aa78;
  font-size: 7rem;
  line-height: 0.8;
  letter-spacing: 0.03em;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}

.page__title {
  font-family: "PT Sans", sans-serif;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1px) {
  .page__title {
    font-size: 24px;
    line-height: calc(30 / 24);
  }
}
@media screen and (min-width: 513px) {
  .page__title {
    font-size: 28px;
    line-height: calc(36 / 28);
  }
}
@media screen and (min-width: 769px) {
  .page__title {
    font-size: 28px;
    line-height: calc(36 / 28);
  }
}
@media screen and (min-width: 1025px) {
  .page__title {
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}
@media screen and (min-width: 1441px) {
  .page__title {
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}

.page__description {
  font-family: "PT Sans", sans-serif;
  position: relative;
  margin-top: 3rem;
}
.page__description p {
  margin-bottom: 0.5rem;
  margin-left: 40%;
  max-width: 40em;
}
.page__description p:last-child {
  margin-bottom: 0;
}

.section__name {
  font-family: "Canela", serif;
  font-weight: bold;
  margin-top: -6rem;
  padding-top: 6rem;
  margin-bottom: 1rem;
  color: #01aa78;
}
@media screen and (min-width: 1px) {
  .section__name {
    font-size: 42px;
    line-height: calc(48 / 42);
  }
}
@media screen and (min-width: 513px) {
  .section__name {
    font-size: 48px;
    line-height: calc(54 / 48);
  }
}
@media screen and (min-width: 769px) {
  .section__name {
    font-size: 60px;
    line-height: calc(66 / 60);
  }
}
@media screen and (min-width: 1025px) {
  .section__name {
    font-size: 66px;
    line-height: calc(72 / 66);
  }
}
@media screen and (min-width: 1441px) {
  .section__name {
    font-size: 66px;
    line-height: calc(72 / 66);
  }
}

.home__hero {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 5rem 0;
  min-height: 90vh;
}

.home__hero-text {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #01aa78;
  box-sizing: border-box;
  padding: 2rem;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
@media screen and (min-width: 513px) {
  .home__hero-text {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.home__hero-logo {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.home__hero-logo svg {
  width: 100%;
  height: auto;
}
.home__hero-logo path {
  fill: #f1f9ec;
}

.home__hero-description {
  font-family: "Canela", serif;
  color: #f1f9ec;
  max-width: 30em;
  position: relative;
}
@media screen and (min-width: 1px) {
  .home__hero-description {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 513px) {
  .home__hero-description {
    font-size: 24px;
    line-height: calc(30 / 24);
  }
}
@media screen and (min-width: 769px) {
  .home__hero-description {
    font-size: 24px;
    line-height: calc(30 / 24);
  }
}
@media screen and (min-width: 1025px) {
  .home__hero-description {
    font-size: 28px;
    line-height: calc(36 / 28);
  }
}
@media screen and (min-width: 1441px) {
  .home__hero-description {
    font-size: 28px;
    line-height: calc(36 / 28);
  }
}
.home__hero-description p {
  margin-bottom: 0.5rem;
}
.home__hero-description p:last-child {
  margin-bottom: 0;
}

.home__hero-image {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 513px) {
  .home__hero-image {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    height: auto;
  }
}

.people {
  position: relative;
}

.people__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.people__item {
  box-sizing: border-box;
  -ms-flex-positive: 0;
      flex-grow: 0;
  overflow: hidden;
}
@media screen and (min-width: 1px) {
  .people__item {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 513px) {
  .people__item {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 769px) {
  .people__item {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1025px) {
  .people__item {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1441px) {
  .people__item {
    font-size: 22px;
    line-height: calc(30 / 22);
  }
}
@media screen and (min-width: 1px) {
  .people__item.large {
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  .people__item.large {
    width: calc(100% * 6 / 12 - 1rem);
  }
}
@media screen and (min-width: 1025px) {
  .people__item.large {
    width: calc(100% * 5 / 12 - 1rem);
  }
}
@media screen and (min-width: 1441px) {
  .people__item.large {
    width: calc(100% * 4 / 12 - 1rem);
  }
}
@media screen and (min-width: 1px) {
  .people__item.medium {
    width: calc(100% * 3 / 6 - 1rem);
  }
}
@media screen and (min-width: 769px) {
  .people__item.medium {
    width: calc(100% * 4 / 12 - 1rem);
  }
}
@media screen and (min-width: 1025px) {
  .people__item.medium {
    width: calc(100% * 3 / 12 - 1rem);
  }
}
@media screen and (min-width: 1441px) {
  .people__item.medium {
    width: calc(100% * 2 / 12 - 1rem);
  }
}
@media screen and (min-width: 1px) {
  .people__item.small {
    width: calc(100% * 2 / 6 - 1rem);
  }
}
@media screen and (min-width: 769px) {
  .people__item.small {
    width: calc(100% * 3 / 12 - 1rem);
  }
}
@media screen and (min-width: 1025px) {
  .people__item.small {
    width: calc(100% * 2 / 12 - 1rem);
  }
}
@media screen and (min-width: 1441px) {
  .people__item.small {
    width: calc(100% * 1 / 12 - 1rem);
  }
}

@media screen and (min-width: 1px) {
  .people__grid-sizer {
    width: calc(100% / 6 - 1rem);
  }
}
@media screen and (min-width: 769px) {
  .people__grid-sizer {
    width: calc(100% / 12 - 1rem);
  }
}
@media screen and (min-width: 1025px) {
  .people__grid-sizer {
    width: calc(100% / 12 - 1rem);
  }
}
@media screen and (min-width: 1441px) {
  .people__grid-sizer {
    width: calc(100% / 12 - 1rem);
  }
}

.people__image {
  width: 100%;
}

.people__name {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.people__designations {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
}
@media screen and (min-width: 1px) {
  .people__designations {
    font-size: 12px;
    line-height: calc(18 / 12);
  }
}
@media screen and (min-width: 513px) {
  .people__designations {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}
@media screen and (min-width: 769px) {
  .people__designations {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}
@media screen and (min-width: 1025px) {
  .people__designations {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}
@media screen and (min-width: 1441px) {
  .people__designations {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}

.people__info {
  font-family: "Canela", serif;
  font-style: italic;
}
@media screen and (min-width: 1px) {
  .people__info {
    font-size: 12px;
    line-height: calc(18 / 12);
  }
}
@media screen and (min-width: 513px) {
  .people__info {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}
@media screen and (min-width: 769px) {
  .people__info {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}
@media screen and (min-width: 1025px) {
  .people__info {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}
@media screen and (min-width: 1441px) {
  .people__info {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
.people__info a {
  border-bottom: 1px solid #01aa78;
}

.awards {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.awards__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.awards__item {
  -ms-flex-preferred-size: calc(100% / 4);
      flex-basis: calc(100% / 4);
  margin-bottom: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
}

.awards__name {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.awards__year {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
}

.awards__notes {
  font-family: "Canela", serif;
}

.awards__project {
  font-family: "Canela", serif;
  font-style: italic;
}
.awards__project a {
  border-bottom: 1px solid #01aa78;
}

.projects {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
}

.projects__list {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.projects__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
  margin-bottom: 1rem;
  display: block;
  line-height: 0;
}
@media screen and (min-width: 769px) {
  .projects__item {
    -ms-flex-preferred-size: calc((100% / 2) - 1rem);
        flex-basis: calc((100% / 2) - 1rem);
    width: calc((100% / 2) - 1rem);
  }
}
@media screen and (min-width: 1025px) {
  .projects__item {
    -ms-flex-preferred-size: calc((100% / 3) - 1rem);
        flex-basis: calc((100% / 3) - 1rem);
    width: calc((100% / 3) - 1rem);
  }
}
.projects__item.hide {
  display: none;
}
.projects__item a {
  display: block;
  line-height: 0;
}
.projects__item:hover .projects__thumbnail-title {
  color: #1e1e1e;
}

.projects__item-container {
  height: 0;
  padding-bottom: 65%;
  position: relative;
  overflow: hidden;
}
.projects__item-container img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}

.packery__gutter {
  width: 1rem;
}

.projects__thumbnail-title {
  font-family: "PT Sans", sans-serif;
  color: #01aa78;
  display: inline-block;
  transition: color 0.2s ease;
}
@media screen and (min-width: 1px) {
  .projects__thumbnail-title {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 513px) {
  .projects__thumbnail-title {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 769px) {
  .projects__thumbnail-title {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1025px) {
  .projects__thumbnail-title {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1441px) {
  .projects__thumbnail-title {
    font-size: 22px;
    line-height: calc(30 / 22);
  }
}

.projects__type-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
@media screen and (min-width: 769px) {
  .projects__type-container {
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
}

.projects__type {
  font-family: "Canela", serif;
  font-style: normal;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #01aa78;
  border: 2px solid #01aa78;
  padding: 0 0.3em;
  -ms-flex-preferred-size: calc(50% - 1rem);
      flex-basis: calc(50% - 1rem);
  margin-bottom: 1rem;
  margin-right: 1rem;
  box-sizing: border-box;
}
.projects__type:hover {
  border-color: #1e1e1e;
  color: #1e1e1e;
}
.projects__type.active {
  color: #1e1e1e;
  border-color: #1e1e1e;
}
@media screen and (max-width: 512px) {
  .projects__type:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 513px) and (max-width: 768px) {
  .projects__type:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 513px) {
  .projects__type {
    -ms-flex-preferred-size: calc(100% / 3 - 1rem);
        flex-basis: calc(100% / 3 - 1rem);
  }
}
@media screen and (min-width: 769px) {
  .projects__type {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.projects__type-title {
  margin-bottom: 0.5rem;
  font-family: "PT Sans", sans-serif;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.project {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: baseline;
      align-items: baseline;
}

.project__info-group {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
  position: relative;
  margin-top: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  -ms-flex-order: 2;
      order: 2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1025px) {
  .project__info-group {
    -ms-flex-order: 1;
        order: 1;
    position: fixed;
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
    width: 15%;
  }
}

.project__info {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 1rem;
  margin-top: 1rem;
  box-sizing: border-box;
}
@media screen and (min-width: 1px) {
  .project__info {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 513px) {
  .project__info {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 769px) {
  .project__info {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1025px) {
  .project__info {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1441px) {
  .project__info {
    font-size: 22px;
    line-height: calc(30 / 22);
  }
}
.project__info:first-child {
  margin-top: 0;
}
@media screen and (min-width: 513px) {
  .project__info {
    -ms-flex-preferred-size: calc(100% / 3);
        flex-basis: calc(100% / 3);
  }
}
@media screen and (min-width: 769px) {
  .project__info {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}
@media screen and (min-width: 1025px) {
  .project__info {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.project__info-name {
  font-family: "PT Sans", sans-serif;
  color: #01aa78;
  display: none;
}
@media screen and (min-width: 1px) {
  .project__info-name {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 513px) {
  .project__info-name {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 769px) {
  .project__info-name {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1025px) {
  .project__info-name {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1441px) {
  .project__info-name {
    font-size: 22px;
    line-height: calc(30 / 22);
  }
}
@media screen and (min-width: 1025px) {
  .project__info-name {
    display: block;
  }
}

.project__info-title {
  font-family: "Canela", serif;
  font-style: italic;
  color: #01aa78;
}

.project__info-value {
  font-family: "Canela", serif;
  color: #1e1e1e;
  margin-bottom: 0.25rem;
}

.project__description-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: baseline;
      align-items: baseline;
  -ms-flex-order: 1;
      order: 1;
}
@media screen and (min-width: 1025px) {
  .project__description-container {
    -ms-flex-order: 2;
        order: 2;
    margin-left: 15%;
  }
}

.project__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-family: "Canela", serif;
  color: #01aa78;
  font-weight: bold;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1px) {
  .project__title {
    font-size: 42px;
    line-height: calc(48 / 42);
  }
}
@media screen and (min-width: 513px) {
  .project__title {
    font-size: 48px;
    line-height: calc(54 / 48);
  }
}
@media screen and (min-width: 769px) {
  .project__title {
    font-size: 60px;
    line-height: calc(66 / 60);
  }
}
@media screen and (min-width: 1025px) {
  .project__title {
    font-size: 66px;
    line-height: calc(72 / 66);
  }
}
@media screen and (min-width: 1441px) {
  .project__title {
    font-size: 66px;
    line-height: calc(72 / 66);
  }
}
@media screen and (min-width: 1025px) {
  .project__title {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 3rem;
  }
}

.project__description {
  font-family: "PT Sans", sans-serif;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 30em;
  width: 40%;
  position: relative;
  right: 0;
}
@media screen and (min-width: 1025px) {
  .project__description {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    top: -2rem;
  }
}

.project__gallery {
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-order: 3;
      order: 3;
}
@media screen and (min-width: 1025px) {
  .project__gallery {
    -ms-flex-order: 3;
        order: 3;
    margin-left: 15%;
    -ms-flex-preferred-size: 85%;
        flex-basis: 85%;
  }
}

.project__image {
  width: calc(50% - 1rem);
  box-sizing: border-box;
}
@media screen and (min-width: 513px) {
  .project__image {
    width: calc(50% - 1rem);
  }
}
@media screen and (min-width: 769px) {
  .project__image {
    width: calc(100% / 3 - 1rem);
  }
}
@media screen and (min-width: 1025px) {
  .project__image {
    width: calc(25% - 1rem);
  }
}
@media screen and (min-width: 1441px) {
  .project__image {
    width: calc(100% / 6 - 1rem);
  }
}
.project__image.show {
  opacity: 1;
}
.project__image img {
  margin: 0;
  width: 100%;
  line-height: 0;
}

.project__image-caption {
  font-family: "PT Sans", sans-serif;
  color: #bebebe;
  font-style: italic;
  text-align: left;
  display: block;
}
@media screen and (min-width: 1px) {
  .project__image-caption {
    font-size: 12px;
    line-height: 1;
  }
}
@media screen and (min-width: 513px) {
  .project__image-caption {
    font-size: 14px;
    line-height: 1;
  }
}
@media screen and (min-width: 769px) {
  .project__image-caption {
    font-size: 14px;
    line-height: 1;
  }
}
@media screen and (min-width: 1025px) {
  .project__image-caption {
    font-size: 14px;
    line-height: 1;
  }
}
@media screen and (min-width: 1441px) {
  .project__image-caption {
    font-size: 16px;
    line-height: 1;
  }
}

.packery__sizer {
  width: calc(50% - 1rem);
}
@media screen and (min-width: 513px) {
  .packery__sizer {
    width: calc(50% - 1rem);
  }
}
@media screen and (min-width: 769px) {
  .packery__sizer {
    width: calc(100% / 3 - 1rem);
  }
}
@media screen and (min-width: 1025px) {
  .packery__sizer {
    width: calc(25% - 1rem);
  }
}
@media screen and (min-width: 1441px) {
  .packery__sizer {
    width: calc(100% / 6 - 1rem);
  }
}

.project__image--medium {
  width: calc(50% - 1rem);
}
@media screen and (min-width: 513px) {
  .project__image--medium {
    width: calc(50% - 1rem);
  }
}
@media screen and (min-width: 769px) {
  .project__image--medium {
    width: calc(100% / 3 * 2 - 1rem);
  }
}
@media screen and (min-width: 1025px) {
  .project__image--medium {
    width: calc(50% - 1rem);
  }
}
@media screen and (min-width: 1441px) {
  .project__image--medium {
    width: calc(100% / 3 - 1rem);
  }
}

.project__image--large {
  width: calc(100% - 1rem);
}
@media screen and (min-width: 513px) {
  .project__image--large {
    width: calc(100% - 1rem);
  }
}
@media screen and (min-width: 769px) {
  .project__image--large {
    width: calc(100% - 1rem);
  }
}
@media screen and (min-width: 1025px) {
  .project__image--large {
    width: calc(75% - 1rem);
  }
}
@media screen and (min-width: 1441px) {
  .project__image--large {
    width: calc(100% / 3 * 2 - 1rem);
  }
}

.project__more {
  width: 100%;
  margin-top: 2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
@media screen and (min-width: 1025px) {
  .project__more {
    width: 85%;
    margin-left: 15%;
  }
}

.project__previous, .project__next {
  font-family: "PT Sans", sans-serif;
  color: #01aa78;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s ease;
}
.project__previous:hover, .project__next:hover {
  border-color: #01aa78;
}

.media__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.media__item {
  -ms-flex-preferred-size: calc((100% / 3) - 0.5rem);
      flex-basis: calc((100% / 3) - 0.5rem);
  margin-bottom: 1rem;
}

.article__thumbnail-name {
  font-family: "PT Sans", sans-serif;
}
@media screen and (min-width: 1px) {
  .article__thumbnail-name {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 513px) {
  .article__thumbnail-name {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 769px) {
  .article__thumbnail-name {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1025px) {
  .article__thumbnail-name {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1441px) {
  .article__thumbnail-name {
    font-size: 22px;
    line-height: calc(30 / 22);
  }
}

.article__thumbnail-date {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
}
@media screen and (min-width: 1px) {
  .article__thumbnail-date {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 513px) {
  .article__thumbnail-date {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 769px) {
  .article__thumbnail-date {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1025px) {
  .article__thumbnail-date {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1441px) {
  .article__thumbnail-date {
    font-size: 22px;
    line-height: calc(30 / 22);
  }
}

.locations {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.locations__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-left: 10%;
  margin-bottom: 3rem;
}

.locations__item {
  width: auto;
  margin-right: 4rem;
  font-family: "PT Sans", sans-serif;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: calc(50% - 4rem);
      flex-basis: calc(50% - 4rem);
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.locations__map {
  height: 15rem;
  -ms-flex-preferred-size: calc(50% - 2rem);
      flex-basis: calc(50% - 2rem);
  margin-right: 2rem;
  border: 1px solid #01aa78;
  box-sizing: border-box;
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.locations__text {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: auto;
}

.locations__name {
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 1px) {
  .locations__name {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 513px) {
  .locations__name {
    font-size: 24px;
    line-height: calc(30 / 24);
  }
}
@media screen and (min-width: 769px) {
  .locations__name {
    font-size: 24px;
    line-height: calc(30 / 24);
  }
}
@media screen and (min-width: 1025px) {
  .locations__name {
    font-size: 28px;
    line-height: calc(36 / 28);
  }
}
@media screen and (min-width: 1441px) {
  .locations__name {
    font-size: 28px;
    line-height: calc(36 / 28);
  }
}

.locations__info {
  margin-bottom: 0.5rem;
}
.locations__info:last-child {
  margin-bottom: 0;
}
.locations__info span {
  font-style: italic;
  color: #bebebe;
}
.locations__info a {
  color: #01aa78;
}
.locations__info a:hover {
  border-bottom: 1px solid #01aa78;
}

.jobs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.jobs__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 3rem;
}

.jobs__intro {
  max-width: 35em;
  margin-left: 20%;
  font-family: "PT Sans", sans-serif;
  margin-bottom: 3rem;
}

.jobs__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-family: "PT Sans", sans-serif;
}

.jobs__name {
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 1px) {
  .jobs__name {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 513px) {
  .jobs__name {
    font-size: 24px;
    line-height: calc(30 / 24);
  }
}
@media screen and (min-width: 769px) {
  .jobs__name {
    font-size: 24px;
    line-height: calc(30 / 24);
  }
}
@media screen and (min-width: 1025px) {
  .jobs__name {
    font-size: 28px;
    line-height: calc(36 / 28);
  }
}
@media screen and (min-width: 1441px) {
  .jobs__name {
    font-size: 28px;
    line-height: calc(36 / 28);
  }
}
.jobs__name span {
  font-family: "Canela", serif;
  font-style: italic;
  font-weight: normal;
}

.jobs__description {
  max-width: 35em;
  margin-bottom: 1rem;
}

.jobs__list {
  margin-left: 10%;
  max-width: 35em;
  list-style: disc;
}

.jobs__subtitle {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.jobs__list-item {
  margin-bottom: 0.5rem;
}

/*# sourceMappingURL=site.css.map */