.home {

}

.home__description {
  @include font-family($ff-sans);
  width: 40%;
  padding: 2rem;
  margin-top: -20vh;
  background-color: $background-color;
  z-index: 3000;
  position: relative;
  margin-left: 10rem;

  p {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
