.home {

}

.home__description {
  @include font-family($ff-serif);
  @include text-size($m);
  max-width: 30em;
  position: relative;
  margin-left: 10rem;
  margin-top: 3rem;

  p {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
