.locations {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.locations__title {
  flex-basis: 100%;
  margin-left: 10%;
  margin-bottom: 3rem;
}

.locations__item {
  width: auto;
  margin-right: 4rem;
  @include font-family($ff-sans);
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(50% - 4rem);
  flex-shrink: 1;
}

.locations__map {
  height: 15rem;
  flex-basis: calc(50% - 2rem);
  margin-right: 2rem;
  border: 1px solid $primary-color;
  box-sizing: border-box;
  flex-grow: 1;
}

.locations__text {
  flex-basis: auto;
  width: auto;
}


.locations__name {
  margin-bottom: 0.5rem;
  @include text-size($m);
}

.locations__info-container {

}

.locations__info {
  margin-bottom: 0.5rem;

  &:last-child {
    margin-bottom: 0;
  }

  span {
    font-style: italic;
    color: $text-color--light;
  }

  a {
    color: $secondary-color;

    &:hover {
      border-bottom: 1px solid $secondary-color;
    }
  }
}
