.page__header {
  position: fixed;
  top: 0;
  transition: all 0.2s ease;
  transform: translate(-100%);
  background-color: $pop-color;
  z-index: 500;

  &.active {
    transform: translate(0%);
  }
}

.page__main {
  box-sizing: border-box;
  border: 1rem solid $pop-color;
  height: 100vh;
  width: 100%;
  overflow: auto;
}

.page__hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  padding: 0;

  .page__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;

    svg {
      width: 50%;
    }

    path {
      fill: $pop-color;
    }
  }
}

.page__hero-title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
  color: $pop-color;
  font-size: 7rem;
  line-height: 0.8;
  letter-spacing: 0.03em;
  @extend %sans-serif;
  text-transform: uppercase;
}

.page__title {
  @include text-size($large);
  @extend %sans-serif;
  margin-bottom: 1rem;
}

.page__description {
  @include text-size($medium);
  background-color: $pop-color;

  p {
    max-width: 35em;
  }
}

.section__name {
  @include text-size($medium);
  @extend %sans-serif;
  margin-bottom: 1rem;
}
