.projects {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

// Home page

.featured-projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.featured-projects__item {
  flex-basis: calc((100% / 3) - 1rem);
  width: calc((100% / 3) - 1rem);
  margin-bottom: 1rem;
  display: block;
  line-height: 0;

  &.hide {
    display: none;
  }

  a {
    display: block;
    line-height: 0;
  }

  &:hover {
    .projects__thumbnail-image {
      filter: grayscale(0) opacity(1);
    }
    .projects__thumbnail-title {

    }
  }
}

// Project list page

.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 85%;
}

.projects__item {
  flex-basis: calc((100% / 3) - 1rem);
  width: calc((100% / 3) - 1rem);
  margin-bottom: 1rem;
  display: block;
  line-height: 0;

  &.hide {
    display: none;
  }

  a {
    display: block;
    line-height: 0;
  }

  &:hover {
    .projects__thumbnail-image {

    }
    .projects__thumbnail-title {

    }
  }
}

.packery__gutter {
  width: 1rem;
}

.projects__thumbnail-image {

}

.projects__thumbnail-title {
  @include text-size($regular);
  @include font-family($ff-sans);
  color: $secondary-color;
  display: inline-block;
}

.projects__type-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  flex-basis: 15%;
}

.projects__type {
  @include font-family($ff-serif);
  font-style: normal;
  cursor: pointer;
  transition: all 0.2s ease;
  color: $secondary-color;
  flex-basis: 100%;

  &:hover {
    color: $text-color;
  }

  &.active {
    color: $text-color;
    font-style: italic;
  }
}


// Project individual

.project {
  display: flex;
  flex-wrap: wrap;
}

.project__title {
  flex-basis: 100%;
  @include font-family($ff-sans);
  @include text-size($large);
}

.project__info-group {
  flex-basis: 30%;
}

.project__category {
  @include font-family($ff-sans);
  font-weight: bold;
}

.project__info {
  @include font-family($ff-sans);
}

.project__info-item {
  @include font-family($ff-mono);
}

.project__description {
  flex-basis: 70%;
  max-width: 35em;
  margin-right: 2rem;
}

.project__gallery {

}

.project__image {
  width: 50%;
  padding: 0.5rem;
  box-sizing: border-box;

  @include respond-above(small) {
		width: 50%;
	};

	@include respond-above(medium) {
		width: calc(100% / 3);
	};

	@include respond-above(large) {
		width: 25%;
	};

	@include respond-above(huge) {
		width: calc(100% / 6);
	};

  &.show {
    opacity: 1;
  }

	img {
		margin: 0;
		width: 100%;
    line-height: 0;
	}
}

.project__image--sizer {
  width: 50%;

	@include respond-above(small) {
		width: 50%;
	};

	@include respond-above(medium) {
		width: calc(100% / 3);
	};

	@include respond-above(large) {
		width: 25%;
	};

	@include respond-above(huge) {
		width: calc(100% / 6);
	};
}

.project__image--medium {
  width: 50%;

	@include respond-above(small) {
		width: 50%;
	};

	@include respond-above(medium) {
		width: calc(100% / 3 * 2);
	};

	@include respond-above(large) {
		width: 50%;
	};

	@include respond-above(huge) {
		width: calc(100% / 3);
	};
}

.project__image--large {
  width: 100%;

	@include respond-above(small) {
		width: 100%;
	};

	@include respond-above(medium) {
		width: 100%;
	};

	@include respond-above(large) {
		width: 75%;
	};

	@include respond-above(huge) {
		width: calc(100% / 3 * 2);
	};
}

.project__more {

}

.project__previous {

}

.project__next {

}
