.projects {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

// Home page

.featured-projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.featured-projects__item {
  flex-basis: calc((100% / 3) - 1rem);
  width: calc((100% / 3) - 1rem);
  margin-bottom: 1rem;
  display: block;
  line-height: 0;

  &.hide {
    display: none;
  }

  a {
    display: block;
    line-height: 0;
  }

  &:hover {
    .featured-projects__thumbnail-image {
      filter: grayscale(0) opacity(1);
    }
    .featured-projects__thumbnail-title {
      color: $text-color;
    }
  }
}

.featured-projects__thumbnail-image {
  filter: grayscale(1) opacity(0.5);
  transition: filter 0.2s ease;
}

.featured-projects__thumbnail-title {
  @include text-size($regular);
  @include font-family($ff-sans);
  color: $secondary-color;
  display: inline-block;
  transition: color 0.2s ease;
}

// Project list page

.projects__list {
  flex-basis: 85%;
}

.projects__item {
  flex-basis: calc((100% / 3) - 1rem);
  width: calc((100% / 3) - 1rem);
  margin-bottom: 1rem;
  display: block;
  line-height: 0;

  &.hide {
    display: none;
  }

  a {
    display: block;
    line-height: 0;
  }

  &:hover {
    .projects__thumbnail-image {

    }
    .projects__thumbnail-title {
      color: $text-color;
    }
  }
}

.packery__gutter {
  width: 1rem;
}

.projects__thumbnail-image {

}

.projects__thumbnail-title {
  @include text-size($regular);
  @include font-family($ff-sans);
  color: $secondary-color;
  display: inline-block;
  transition: color 0.2s ease;
}

.projects__type-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  flex-basis: 15%;
}

.projects__type {
  @include font-family($ff-serif);
  font-style: normal;
  cursor: pointer;
  transition: all 0.2s ease;
  color: $secondary-color;
  flex-basis: 100%;
  margin-bottom: 0.5rem;

  &:hover {
    color: $text-color;
  }

  &.active {
    color: $text-color;
    font-style: italic;
  }
}

.projects__type-title {
  margin-bottom: 0.5rem;
  @include font-family($ff-sans);
}


// Project individual

.project {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.project__info-group {
  flex-basis: 15%;
  position: fixed;
  width: 15%;
  margin-top: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

.project__info {
  @include text-size($regular);
}

.project__info-name {
  @include font-family($ff-sans);
  @include text-size($regular);
  color: $secondary-color;
}

.project__info-title {
  @include font-family($ff-serif);
  font-style: italic;
  font-weight: bold;
  color: $text-color;
  margin-top: 1rem;
}

.project__info-value {
  @include font-family($ff-serif);
  color: $text-color;
}

.project__title {
  flex-basis: 75%;
  @include font-family($ff-serif);
  @include text-size($huge);
  color: $primary-color;
  font-weight: bold;
  // font-style: italic;
  margin-left: 15%;
  margin-bottom: 3rem;
}

.project__description {
  @include font-family($ff-sans);
  flex-basis: 70%;
  max-width: 35em;
  width: 40%;
  margin-left: 60%;
  position: relative;
  right: 0;
}

.project__gallery {
  // width: auto;
  display: flex;
  margin-top: 3rem;
  flex-basis: 85%;
  margin-left: 15%;
}

.project__image {
  width: calc(50%);
  box-sizing: border-box;

  @include respond-above(small) {
		width: calc(50% - 1rem);
	};

	@include respond-above(medium) {
		width: calc(100% / 3 - 1rem);
	};

	@include respond-above(large) {
		width: calc(25% - 1rem);
	};

	@include respond-above(huge) {
		width: calc(100% / 6 - 1rem);
	};

  &.show {
    opacity: 1;
  }

	img {
		margin: 0;
		width: 100%;
    line-height: 0;
	}
}

.project__image-caption {
  @include font-family($ff-sans);
  @include text-size($small, $lineheight: 1);
  color: $text-color--light;
  font-style: italic;
  text-align: left;
  display: block;
}

.packery__sizer {
  width: calc(50% - 1rem);

	@include respond-above(small) {
		width: calc(50% - 1rem);
	};

	@include respond-above(medium) {
		width: calc(100% / 3 - 1rem);
	};

	@include respond-above(large) {
		width: calc(25% - 1rem);
	};

	@include respond-above(huge) {
		width: calc(100% / 6 - 1rem);
	};
}

.project__image--medium {
  width: calc(50% - 1rem);

	@include respond-above(small) {
		width: calc(50% - 1rem);
	};

	@include respond-above(medium) {
		width: calc(100% / 3 * 2 - 1rem);
	};

	@include respond-above(large) {
		width: calc(50% - 1rem);
	};

	@include respond-above(huge) {
		width: calc(100% / 3 - 1rem);
	};
}

.project__image--large {
  width: 100%;

	@include respond-above(small) {
		width: 100%;
	};

	@include respond-above(medium) {
		width: 100%;
	};

	@include respond-above(large) {
		width: calc(75% - 1rem);
	};

	@include respond-above(huge) {
		width: calc(100% / 3 * 2 - 1rem);
	};
}

.project__more {
  width: 85%;
  margin-left: 15%;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project__previous, .project__next {
  @include font-family($ff-sans);
  color: $primary-color;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s ease;

  &:hover {
    border-color: $primary-color;
  }
}
