{% extends "templates/partials/base.html" %}

{% set about = cms.about %}

{% block title %}{% parent %} - {{ about.name }}{% endblock %}

{% block content %}

  <h1 class="page__title">{{ about.name }}</h1>
  <div class="page__description">{{ about.long_description|safe }}</div>

  {% if about.team_members %}
    <section class="people">
    <h2 class="people__title section__name">Our team</h2>
    {% for person in about.team_members %}
      <div class="people__item">
        <img src="{{ person.portrait|imageSize(300) }}" alt="" class="people__image">
        <h3 class="people__name">{{ person.name }}</h3>
        {% if person.designations %}
          <h4 class="people__designations">
          {% spaceless %}
            {% for designation in person.designations %}
              {% if loop.first %}
                {{ designation.name }}
              {% else %}
                ,&nbsp;{{ designation.name }}
              {% endif %}
            {% endfor %}
          {% endspaceless %}
          </h4>
        {% endif %}
        {% if person.email %}
          <p class="people__info"><a href="mailto:{{ person.email }}">{{ person.email }}</a></p>
        {% endif %}
        {% if person.phone_number %}
          <p class="people__info"><a href="tel:{{ person.phone_number }}">{{ person.phone_number }}</a></p>
        {% endif %}
      </div>
    {% endfor %}
    </section>
  {% endif %}

  {% if about.awards %}
    <section class="awards">
      <h2 class="awards__title section__name">Awards</h2>
      {% for award in about.awards %}
        <div class="awards__item">
          <h3 class="award__name">{{ award.name }}</h3>
          <h4 class="award__year">{{ award.year }}</h4>
          <div class="award__notes">{{ award.award_notes|safe }}</div>
          <script>
            console.log({{award.related_project|json|safe}});
          </script>
          <p class="award__project"><a href="{{ url(award.related_project) }}">{{ award.related_project.name }}</a></p>
        </div>
      {% endfor %}
    </section>
  {% endif %}

{% endblock %}
