{% extends "templates/partials/base.html" %}

{% set about = cms.about %}
{% set team = cms.team %}

{% block title %}{% parent %} - {{ about.name }}{% endblock %}

{% block mainClass %}padded{% endblock %}

{% block content %}

  <section class="page__description">
    <h2 class="people__title section__name">About us</h2>
    {{ about.long_description|safe }}
  </section>

  {% for personGroup in team|groupBy('level') %}
    {% set imageSizeClass %}
    {% if loop.first %}
      <section class="people">
    {% endif %}
    {% if loop.key === 'Principal' %}
      {% set imageSizeClass = 'large' %}
      <h2 class="people__subtitle">Founders & Principals</h2>
    {% elseif loop.key === 'Associate' %}
      {% set imageSizeClass = 'medium' %}
      <h2 class="people__subtitle">Associates</h2>
    {% elseif loop.key === 'Senior' %}
      {% set imageSizeClass = 'small' %}
      <h2 class="people__subtitle">Team</h2>
    {% endif %}
    {% for person in personGroup %}
      {% if person.portrait %}
        {% set portrait = person.portrait %}
      {% else %}
        {% set portrait = about.placeholder_image %}
      {% endif %}
      {% if imageSizeClass === 'large' %}
        <div class="people__item large">
          <img src="{{ portrait|imageSize(800) }}" alt="" class="people__image">
          <h3 class="people__name">{{ person.name }}</h3>
            {# <h4 class="people__designations">{{ person.title }}</h4> #}
            <p class="people__info"><a href="mailto:{{ person.email }}">{{ person.email }}</a></p>
            <p class="people__info"><a href="tel:{{ person.phone_number }}">{{ person.phone_number }}</a></p>
        </div>
      {% elseif imageSizeClass === 'medium' %}
        <div class="people__item medium">
          <img src="{{ portrait|imageSize(600) }}" alt="" class="people__image">
          <h3 class="people__name">{{ person.name }}</h3>
          {# <h4 class="people__designations">{{ person.title }}</h4> #}
          <p class="people__info"><a href="mailto:{{ person.email }}">{{ person.email }}</a></p>
        </div>
      {% else %}
        <div class="people__item small">
          <img src="{{ portrait|imageSize(300) }}" alt="" class="people__image">
          <h3 class="people__name">{{ person.name }}</h3>
          <h4 class="people__designations">{{ person.title }}</h4>
        </div>
      {% endif %}

    {% endfor %}
    {% if loop.last %}
      </section>
    {% endif %}
  {% endfor %}


  {% if about.awards.show_award_list === true %}
    <section class="awards">
      <h2 class="awards__title section__name">Awards and Recognition</h2>
      {% for award in about.awards %}
        <div class="awards__item">
          <h3 class="awards__name">{{ award.name }}</h3>
          <h4 class="awards__year">{{ award.year }}</h4>
          <div class="awards__notes">{{ award.award_notes|safe }}</div>
          <p class="awards__project"><a href="{{ url(award.related_project) }}">View project</a></p>
        </div>
      {% endfor %}
    </section>
  {% endif %}

{% endblock %}
