{% extends "templates/partials/base.html" %}

{% set about = cms.about %}
{% set team = cms.team %}

{% block title %}{% parent %} - {{ about.name }}{% endblock %}

{% block mainClass %}padded{% endblock %}

{% block content %}

  <section class="page__description">
    <h2 class="people__title section__name">About us</h2>
    {{ about.long_description|safe }}
  </section>

  {% for personGroup in team|groupBy('level') %}
    {% set imageSizeClass %}
    {% if loop.key === 'Principal' %}
      {% set imageSizeClass = 'large' %}
    {% elseif loop.key === 'Associate' %}
      {% set imageSizeClass = 'medium' %}
    {% elseif loop.key === 'Senior' %}
      {% set imageSizeClass = 'small' %}
    {% elseif loop.key === 'Junior' %}
      {% set imageSizeClass = 'hidden' %}
    {% endif %}
    {% if loop.first %}
      <section class="people">
        <div class="packery__gutter"></div>
        <div class="people__grid-sizer"></div>
    {% endif %}
    {% for person in personGroup %}
      {% if imageSizeClass === 'large' || imageSizeClass === 'medium' || imageSizeClass === 'small' %}
        <div class="people__item {{ imageSizeClass }}">
          <img src="/static/images/portrait_placeholder.jpg" alt="" class="people__image">
          {# {% if person.portrait %}
            <img src="{{ person.portrait|imageSize(300) }}" alt="" class="people__image">
          {% endif %} #}
          <h3 class="people__name">{{ person.name }}</h3>
          {% if person.title %}
            <h4 class="people__designations">{{ person.title }}</h4>
          {% endif %}
          {% if person.email %}
            <p class="people__info"><a href="mailto:{{ person.email }}">{{ person.email }}</a></p>
          {% endif %}
          {% if person.phone_number %}
            <p class="people__info"><a href="tel:{{ person.phone_number }}">{{ person.phone_number }}</a></p>
          {% endif %}
        </div>
      {% else %}
        <div class="people__item small">
          <h3 class="people__name">{{ person.name }}</h3>
          {% if person.title %}
            <h4 class="people__designations">{{ person.title }}</h4>
          {% endif %}
        </div>
      {% endif %}

    {% endfor %}
    {% if loop.last %}
      </section>
    {% endif %}
  {% endfor %}


  {% if about.awards.show_award_list === true %}
    <section class="awards">
      <h2 class="awards__title section__name">Awards and Recognition</h2>
      {% for award in about.awards %}
        <div class="awards__item">
          <h3 class="awards__name">{{ award.name }}</h3>
          <h4 class="awards__year">{{ award.year }}</h4>
          <div class="awards__notes">{{ award.award_notes|safe }}</div>
          <p class="awards__project"><a href="{{ url(award.related_project) }}">View project</a></p>
        </div>
      {% endfor %}
    </section>
  {% endif %}

{% endblock %}
