{% extends "templates/partials/base.html" %}

{% set contact = cms.contact %}

{% block title %}{% parent %} - {{ contact.name }}{% endblock %}

{% block mainClass %}padded{% endblock %}

{% block content %}

  {# <section class="page__description">{{ contact.description|safe }}</section> #}

  {% if contact.locations %}
    <section class="locations">
      <h2 class="section__name locations__title">Our Locations</h2>
      {% for location in contact.locations %}
        <div class="locations__item">
          <h3 class="locations__name">{{ location.city }}</h3>
          <div class="locations__info-container">
          <div class="locations__info">{{ location.address|safe }}</div>
          {% if location.email %}
            <p class="locations__info"><a href="mailto:{{ location.email }}">{{ location.email }}</a></p>
          {% endif %}
            <p class="locations__info">
            {% if location.phone_number_1 %}
              <span>ph: </span><a href="tel:{{ location.phone_number_1 }}">{{ location.phone_number_1 }}</a>
            {% endif %}
            {% if location.phone_number_2 %}
              <br><span>ph: </span><a href="tel:{{ location.phone_number_2 }}">{{ location.phone_number_2 }}</a>
            {% endif %}
            {% if location.fax_number %}
              <br><span>fax: </span>{{ location.fax_number }}
            {% endif %}
            </p>
          </div>
        </div>
      {% endfor %}
    </section>
  {% endif %}

  {% if contact.job_openings %}
    <section class="jobs">
      <h2 class="section__name jobs__title">Join our team</h2>
      <div class="jobs__intro">{{ contact.work_environment|safe }}</div>
      {% for job in contact.job_openings %}
        <div class="jobs__item">
          <h3 class="jobs__name">
            {{ job.name }}{% for location in job.locations %}{% if location.value %}{% if loop.first %}<span> | {{ location.label }}{% else %}, {{ location.label }}{% endif %}{% if loop.last %}</span>{% endif %}{% endif %}{% endfor %}
          </h3>
          <div class="jobs__description">{{ job.description|safe }}</div>
          {% for requirement in job.requirements %}
            {% if loop.first %}
              <ul class="jobs__list">
                <h5 class="jobs__subtitle">Requirements</h5>
            {% endif %}
                <li class="jobs__list-item">{{ requirement.requirement_text|safe }}</li>
            {% if loop.last %}
              </ul>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </section>
  {% endif %}

{% endblock %}
