{% extends "templates/partials/base.html" %}

{% set contact = cms.contact %}

{% block title %}{% parent %} - {{ contact.name }}{% endblock %}

{% block mainClass %}padded{% endblock %}

{% block content %}

  {# <section class="page__description">{{ contact.description|safe }}</section> #}

  {% if contact.locations %}
    <section class="locations">
      <h2 class="section__name locations__title">Our offices</h2>
      {% for location in contact.locations %}
        <div class="locations__item">
          <div class="locations__map" id="{{ location.city|lower }}" data-mapurl="{{ location.google_map_link.original_url }}"></div>
          <div class="locations__text">
            <h3 class="locations__name">{{ location.city }}</h3>
            <div class="locations__info-container">
            <div class="locations__info"><a href="{{ location.google_map_link }}" target="_blank">{{ location.address|safe }}</a></div>
            {% if location.email %}
              <p class="locations__info"><a href="mailto:{{ location.email }}" target="_blank">{{ location.email }}</a></p>
            {% endif %}
              <p class="locations__info">
              {% if location.phone_number_1 %}
                <a href="tel:{{ location.phone_number_1 }}">{{ location.phone_number_1 }}</a>
              {% endif %}
              {% if location.phone_number_2 %}
                <br><a href="tel:{{ location.phone_number_2 }}">{{ location.phone_number_2 }}</a>
              {% endif %}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </section>
  {% endif %}

  {% if contact.job_openings %}
    <section class="jobs">
      <h2 class="section__name jobs__title">Work with us</h2>
      <div class="jobs__intro">{{ contact.work_environment|safe }}</div>
      {% for job in contact.job_openings %}
        <div class="jobs__item">
          <h3 class="jobs__name">
            {{ job.name }}{% for location in job.locations %}{% if location.value %}{% if loop.first %}<span> | {{ location.label }}{% else %}, {{ location.label }}{% endif %}{% if loop.last %}</span>{% endif %}{% endif %}{% endfor %}
          </h3>
          <div class="jobs__description">{{ job.description|safe }}</div>
          {% for requirement in job.requirements %}
            {% if loop.first %}
              <ul class="jobs__list">
                <h5 class="jobs__subtitle">Requirements</h5>
            {% endif %}
                <li class="jobs__list-item">{{ requirement.requirement_text|safe }}</li>
            {% if loop.last %}
              </ul>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </section>
  {% endif %}

{% endblock %}
