{% extends "templates/partials/base.html" %}

{% set home = cms.home %}
{% set media = cms.mediacoverage | slice(0, 6) %}
{% set projects = cms.projects %}
{% set projectTypes = cms.projecttypes %}
{% set clients = cms.clients %}

{% block content %}

  <section class="home__hero">
    <div class="home__hero-text">
      <div class="home__hero-logo">{% include "templates/partials/icons/logo__full.svg" %}</div>
      <div class="home__hero-description">{{ home.short_description|safe }}</div>
    </div>
    <div class="home__hero-image" style="background-image: url({{ home.hero_image|imageSize(1600) }})"></div>
  </section>

  {% for project in projects %}
    {% set project.dateSort = project.year + project.month|slice(0,2) %}
    {% set project.projectCategories = [] %}
    {% for category in project.project_type %}
      {% set project.categoryString = category.name|lower|replace(' ','-','g')|replace('[^a-zA-Z0-9 -]','','g')|replace('-+','-','g') %}
      {% set project.projectCategories = project.projectCategories.concat([project.categoryString]) %}
    {% endfor %}
  {% endfor %}

  {% for project in projects|sort('dateSort', true) %}
    {% if loop.first %}
      <section class="projects">
        <h2 class="section__name" id="work">Projects</h2>
        <div class="projects__type-container">
          {# <h4 class="projects__type-title">Filter projects:</h4> #}
          <a data-project-type-query="all" class="projects__type active">All</a>
          {% for projectType in projectTypes %}
            <a data-project-type-query="{{ projectType.name|lower|replace(' ','-','g')|replace('[^a-zA-Z0-9 -]','','g')|replace('-+','-','g') }}" class="projects__type">{{ projectType.name }}</a>
          {% endfor %}
        </div>
        <div class="projects__list">
          <div class="packery__gutter"></div>
          <div class="packery__sizer"></div>
    {% endif %}
    {% if project.photographs %}
          <a href="{{ url(project) }}" class="projects__item {{ project.projectCategories|join(' ') }}">
            {% if project.photographs[0] %}
              <div class="projects__item-container">
                <img src="{{ project.photographs[0].image|imageSize(500) }}" alt="" class="projects__thumbnail-image">
              </div>
            {% endif %}
            <h3 class="projects__thumbnail-title">{{ project.name }}</h3>
          </a>
    {% endif %}
    {% if loop.last %}
        </div>
      </section>
    {% endif %}
  {% endfor %}

  {# {% if media %}
    <section class="home__media">
      <h2 class="section__name">Media recognition</h2>
      {% for article in media %}
        {% if loop.first %}
          <div class="media__list">
        {% endif %}
            <div class="media__item">
              <a href="{{ url(article) }}">
                {% if article.representative_image %}
                  <img src="{{ article.representative_image|imageSize(300) }}" alt="" class="article__thumbnail-image">
                {% endif %}
                <h3 class="article__thumbnail-name">{{ article.name }}</h3>
                <h4 class="article__thumbnail-date">{{ article.date|date('M Y') }}</h4>
              </a>
            </div>
        {% if loop.last %}
          </div>
        {% endif %}
      {% endfor %}
    </section>
  {% endif %} #}

{% endblock %}
