{% extends "templates/partials/base.html" %}

{% set home = cms.home %}
{% set media = cms.mediacoverage | slice(0, 6) %}

{% block content %}

  <section class="page__hero" style="background-image: url({{ home.hero_image|imageSize(1600) }})">
    <div class="page__logo">{% include "templates/partials/icons/logo__full.html" %}</div>
  </section>

  <section class="home__description">{{ home.short_description|safe }}</section>

  {% if home.projects %}
    <section class="home__projects">
      <h2 class="section__name">Featured projects</h2>
      {% for project in home.projects %}
        {% if loop.first %}
          <div class="featured-projects__list">
            <div class="packery__gutter"></div>
        {% endif %}
            <div class="featured-projects__item">
              <a href="{{ url(project) }}">
                {% if project.representative_image %}
                  <img src="{{ project.representative_image|imageSize(600) }}" alt="" class="projects__thumbnail-image">
                {% endif %}
                <h3 class="projects__thumbnail-title">{{ project.name }}</h3>
              </a>
            </div>
        {% if loop.last %}
          </div>
        {% endif %}
      {% endfor %}
    </section>
  {% endif %}

  {% if media %}
    <section class="home__media">
      <h2 class="section__name">Media recognition</h2>
      {% for article in media %}
        {% if loop.first %}
          <div class="media__list">
        {% endif %}
            <div class="media__item">
              <a href="{{ url(article) }}">
                {% if article.representative_image %}
                  <img src="{{ article.representative_image|imageSize(300) }}" alt="" class="article__thumbnail-image">
                {% endif %}
                <h3 class="article__thumbnail-name">{{ article.name }}</h3>
                <h4 class="article__thumbnail-date">{{ article.date|date('M Y') }}</h4>
              </a>
            </div>
        {% if loop.last %}
          </div>
        {% endif %}
      {% endfor %}
    </section>
  {% endif %}

{% endblock %}
